@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: "Red Hat Display";
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-image: url('pattern-background-desktop.svg');
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.girl-dancing {
    border-radius: 25px 25px 0 0;
}

main {
    background-color: hsl(225, 100%, 98%);
    width: 450px;
    text-align: center;
    border-radius:  0 0 25px 25px;
    padding: 25px 0;
}

main p, .btn-cancel {
    color: hsl(223, 47%, 23%);
    margin: 1rem auto;
}

.plan-section {
    background-color: hsl(225, 100%, 94%);
    margin: auto;
    width: 300px;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
}

.price {
    color: hsl(224, 23%, 55%);
}

.plan-type {
    font-weight: 900;
}

.price, .plan-type {
    margin-left: 15px;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn-change {
    margin-left: 80px;
    padding: 0;
    background-color: transparent;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 700;
}

.btn-payment {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 330px;
    padding: .8rem;
}

.btn-cancel {
    background-color: transparent;
    margin-bottom: 0;
    font-weight: 700;
}
